:root {
    --Very_Light_Gray: hsl(0, 0%, 98%);
    --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
    --Light_Grayish_Blue: hsl(233, 11%, 84%);
    --Dark_Grayish_Blue: hsl(236, 9%, 61%);
    --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);
    --Very_Dark_Blue: hsl(235, 21%, 11%);
    --Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
    --Light_Grayish_Blue: hsl(234, 39%, 85%);
    --Light_Grayish_Blue_hover: hsl(236, 33%, 92%);
    --Dark_Grayish_Blue: hsl(234, 11%, 52%);
    --Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
    --Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}

body section.container {
    background-color: var(--Very_Light_Grayish_Blue);
    color: var(--Very_Dark_Blue);
    background-image: url('images/bg-mobile-light.jpg');
    background-position: top;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

body section.container .main {
    width: 90%;
    padding-left: 3%;
    padding-right: 3%;
}

body section.container .main .top_header {
    color: var(--Very_Light_Gray);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 9%;
}

body section.container .main .top_header .heading {
    width: 80%;
    font-size: 3rem;
}

body section.container .main .top_header .heading h1 {
    font-weight: 400;
}

body section.container .main .top_header .switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.sun {
    display: none;
}

.form {
    width: 100%;
    margin-bottom: 5%;
}

.form .form_box {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4%;
    background-color: var(--Very_Light_Gray);
    border-radius: 5px;
}

.form .form_box .circle {
    width: 30px;
    height: 30px;
    border: 2px solid var(--Light_Grayish_Blue);
    border-radius: 50%;
    margin-left: 2%;
}

.form .form_box form {
    width: 95%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.form .form_box form input {
    width: 100%;
    padding: 2%;
    border: none;
    outline: none;
    color: var(--Very_Dark_Grayish_Blue);
    font-family: inherit;
    font-size: 1.2rem;
    background-color: transparent;
    line-height: 1;
}

.form .form_box form input::placeholder {
    font-family: inherit;
    color: var(--Light_Grayish_Blue);
    font-size: 1.2rem;
}

.todos {
    width: 100%;
    background-color: var(--Very_Light_Gray);
    border-radius: 5px;
}

.todos .todo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--Light_Grayish_Blue);
}

.todos .todo .checkbox {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Light_Grayish_Blue);
    border-radius: 50%;
    margin-right: 2%;
}

.todos .todo .checkbox img {
    width: 50%;
}

.todos .todo .content {
    width: 90%;
    font-size: 1.1rem;
    color: var(--Very_Dark_Grayish_Blue);
}

.todos .todo.crossed .content {
    text-decoration: line-through;
    color: var(--Light_Grayish_Blue);
}

.todos .todo.crossed .checkbox {
    background-image: linear-gradient( 60deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border-style: none;
}

.todos .todo .cross {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos .todo .cross img {
    width: 80%;
}

.filter_grp_desktop {
    display: none;
}

.todo_filter {
    display: flex;
    padding: 4% 2%;
    justify-content: space-between;
    align-items: center;
    color: var(--Light_Grayish_Blue);
}

.filter_mobile {
    width: 100%;
}

.filter_mobile .filter_grp {
    display: flex;
    width: 100%;
    padding: 4%;
    margin: 5% auto;
    background-color: var(--Very_Light_Gray);
    justify-content: center;
    align-items: center;
    color: var(--Light_Grayish_Blue);
    border-radius: 5px;
}

.all-items {
    margin-right: 3%;
}

.completed-items {
    margin-left: 3%;
}

.all-items h3,
.active-items h3,
.completed-items h3 {
    font-weight: 400;
    font-size: 1rem;
}

.all-items h3:hover,
.active-items h3:hover,
.completed-items h3:hover {
    color: var(--Very_Dark_Grayish_Blue);
}

.info {
    width: 100%;
    text-align: center;
}

.info h3 {
    color: var(--Light_Grayish_Blue);
}