body {
    width: 100%;
}

body section.main {
    background-color: black;
    color: white;
    background-image: url('images/bg-desktop-dark.jpg');
    background-position: top;
    background-repeat: no-repeat;
}